DJANGO_DEBUG=on or off
DJANGO_SECRET_KEY="CHANGE ME!!! secret key"
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_STATIC_ROOT=/path/to/staticfiles
DJANGO_MEDIA_ROOT=/path/to/media
DJANGO_DATABASE_URL=postgres://USER:PASSWORD@HOST:PORT/DATABASENAME
EMAIL_HOST=smtp providers like smtp.gmail.com
EMAIL_PORT=port
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=bool
EMAIL_USE_SSL=bool
EMAIL_TIMEOUT
EMAIL_SSL_KEYFILE
EMAIL_SSL_CERTFILE
AWS_ACCESS_KEY_ID=id
AWS_SECRET_ACCESS_KEY=key
AWS_STORAGE_BUCKET_NAME=name
AWS_S3_OBJECT_PARAMETERS=param_dict
AWS_S3_FILE_OVERWRITE=bool
AWS_LOCATION=path or file_name
AWS_DEFAULT_ACL=public-read
